body {

    margin: 0;
    font-family: 'Poppins', sans-serif;

}

/* Start Header section */
.header {
    background-image: url(img/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    background-attachment: fixed;
    background-position: center;
}

.cover_title {
    color: white;
    font-size: 46px;
    text-align: center;
    padding-top: 150px;
}

.header_discription {
    color: white;
    margin: 20px 40%;
    padding: 20px;

}

.Donate_cover {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    margin-left: 45%;
    border-radius: 5px;
}

/* End Header section */

/* start section */


.second_section_title {
    padding-top: 5%;
    text-align: center;

}

.section_discription {
    text-align: center;
    padding: 0 20% 0;
}

.box {
    display: flex;
    list-style: none;
    margin-left: 35%;
}

li {
    border: 2px;
    margin-right: 10px;
    padding: 20px 5px;
    background-color: azure;
}

.higilits {
    border: 2px solid rgb(225, 68, 68);
    background-color: rgb(222, 163, 163);
    color: red;
}

.other_amount {
    padding-top: 30px;
    margin-left: 45%;
    margin-bottom: 10px;
    border: none;


}

.Donate_second {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    margin-left: 45%;
    border-radius: 5px;

    margin-bottom: 20px;

}

hr {
    margin-bottom: 50px;
    width: 50%;



}

/* end second section */

/* start third section */
.third_section_title {
    padding-top: 5%;
    text-align: center;

}

.third_discription {
    text-align: center;
    padding: 0 20% 0;
}

.box-three {
    display: flex;
    margin: 0;

}

.first-box {
    background-color: rgb(108, 227, 234);
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 100px;
    margin-bottom: 70px;
    border: 5px solid rgb(173, 69, 69);
    padding: 50px 50px;
    border-radius: 10px;
}

.second-box {
    background-color: rgb(237, 122, 222);
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 100px;
    margin-bottom: 70px;
    border: 5px solid white;
    padding: 50px 50px;
    border-radius: 10px;
}

.Third-box {
    background-color: rgb(173, 58, 79);
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 100px;
    margin-bottom: 70px;
    border: 5px solid white;
    padding: 50px 50px;
    border-radius: 10px;
}


/* end third section */
.needtosuvive {
    display: flex;
}


.donation13 {
    margin-top: 50px;
    margin-left: 100px;
    height: 500px;
    width: 500px;
}

.survive {
    color: darkgrey;
    font-size: 36px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
}

.survive_text {
    margin-left: 10%;
    margin-right: 20%;
    padding-bottom: 5%;
}

.contribute-botton {
    margin-left: 10%;
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    padding: 10px 20px;
    border-radius: 5px;
}


.description-section {
    display: flex;
    padding-bottom: 10%;
}

.about-me {
    color: darkgrey;
    font-size: 36px;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 10%;

}

.second-plain-text {
    margin-left: 30%;
    margin-right: 20%;
    padding-bottom: 5%;
}

.contact-me {
    margin-left: 30%;
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    padding: 10px 20px;
    border-radius: 5px;
}

.donation0 {
    margin-top: 50px;
    margin-left: 100px;
    height: 500px;
    width: 500px;
}

.input_mail {
    display: flex;
    margin-left: 20%;
    height: 20%;
    width: 40%;
    background-color: blanchedalmond;
}


footer {
    background-color: black;
    height: 100px;
}

.footer-title {
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;

}

.Final-tag {
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}